@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

label{
    font-size: 14px;
    color: #fff;
    background-position: center center;
    text-transform: uppercase;
}

.containerPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( 180deg, #0000008c 0%, #0000008c 100%), url('../images/dinheiro.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
}

.form{
    font-size: 48px;
    color: #fff;
    background-position: center center;
    text-transform: uppercase;
}

input{
    outline: 0;
    background-color: #fff;
    width: 100%;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.botao{
    text-transform: uppercase;
    outline: none;
    background-color: #2091F9;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    --webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #2090f96b;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0, 0, 0.2), 0 5px 5px 0 rgba(0,0, 0, 0.2);
}
